

<html>
    <head>
      {% if title %}
      <title>{{ title }} - Smart Attendance</title>
      {% else %}
      <title>Welcome to Smart Attendance</title>
      {% endif %}
    </head>
    <body>
        <div>
            <a href="/student">Student</a>
            <a href="/admin">Admin</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <a href="/attendance">Attendance</a> 
            <!-- <a href="/login">Admin</a> -->
        </div>

        <hr>
        {% block content %}{% endblock %}
    </body>
</html>