{% extends "base.html" %}

{% block content %}
<html>
<head>
    <title>Smart Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/backgroundother.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
</head>
<body>
<div class='messages'>
    <h1> {{ course_code }} </h1>
</div>
<div class="card animate animated fadeInRight">
    <div class="card-body">
        <table class="table table-hover">
            <thead class ='thead-light'>
              <tr>
                <th></th>
                {% for week in weeks%}
                  <th>Week {{week}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
                {% for n in range(student_name| length) %}
                  <div class='messages'>
                      <tr>
                          <td> {{ student_name[n] }} </td>
    
                          {% if status[n] == 'Present' %}
                            <td bgcolor='#90EE90'> {{ status[n] }} </td>
                          {% else %}
                          <td bgcolor='#FFA07A'> {{ status[n] }} </td>
                          {% endif %}
                        </tr>
                  </div>

                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
</body>
</html>
{% endblock %}