{% extends "base.html" %}

{% block content %}

<h1> {{ course_code}} </h1>

<h5> {{ date }} </h5>
<div class="card animate animated fadeInRight" style="width: 18rem;">
    <div class="card-body">
        <table class="table table-hover">
            <thead class ='thead-light'>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Attendance</th>
              </tr>
            </thead>
            <tbody>
                {% for n in range(student_name| length) %}
                  {% set sid = student_id[n] %}
                  {% if attendance_count[n] > 2 %}
                    <tr bgcolor='#90EE90'>
                      <td>{{ student_name[n] }}</td>
                      <td>{{ student_email[n] }}</td>
                      <td>{{ attendance_count[n] }}</td>
                    </tr>
                  {% else %}
                    <tr bgcolor='#FFA07A'>
                      <td>{{ student_name[n] }}</td>
                      <td>{{ student_email[n] }}</td>
                      <td>{{ attendance_count[n] }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
            </tbody>
    </table>
    </div>
</div>
{% endblock %}