{% extends "base.html" %}

{% block content %}
<html>
    <head>
        <title>Smart Attendance</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/backgroundother.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
    </head>
    <body>
<div class="messages">
<h1> {{ course_code}} </h1>
<h5> {{ date }} </h5>
</div>
<div class="card animate animated fadeInRight">
    <div class="card-body">
        <table class="table table-hover">
            <thead class ='thead-dark'>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Attendance</th>
              </tr>
            </thead>
            <tbody>
                {% for n in range(student_name| length) %}
                  {% if attendance_count[n] > 2 %}
                    <tr bgcolor='#90EE90'>
                      <td>{{ student_name[n] }}</td>
                      <td>{{ student_email[n] }}</td>
                      <td>{{ attendance_count[n] }}</td>
                    </tr>
                  {% else %}
                    <tr bgcolor='#FFA07A'>
                      <td>{{ student_name[n] }}</td>
                      <td>{{ student_email[n] }}</td>
                      <td>{{ attendance_count[n] }}</td>
                    </tr>
                  {% endif %}
                {% endfor %}
            </tbody>
    </table>
    </div>
</div>
</body>
</html>
{% endblock %}