{% extends "base.html" %}

{% block title %}
SmartAttendance
{% endblock %}
{% block content %}
<html>
    <head>
        <title>Smart Attendance</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/full.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/util.css') }}">
    </head>
    <body>
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form action="" method="post" novalidate>
                <span class="contact100-form-title">
                        Smart Attendance
                </span>
                {{ form.hidden_tag() }}
                
                <div class="wrap-input100 validate-input">
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                
                <div class="wrap-input100 validate-input">
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
        
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
        
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn">
                        <span>
                            <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                            {{ form.submit() }}
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    </body>
</html>
{% endblock %}