{% extends "base.html" %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
    </head>
    <body>
        <div class="container-contact100">
            <div class="button">
                <a class="buttons" href="{{ url_for('student_add_mac') }}">
                    <img src="{{ url_for('static', filename='img/add.png') }}">
                </a>
                <div class="text">
                    Update Mac Addresses
                </div> 
            </div>
            <div class="divider"></div>
            <div class="button">
                <a class="buttons" href="{{ url_for('attendance') }}">
                    <img src="{{ url_for('static', filename='img/view.png') }}">
                </a>
                <div class="text">
                View Attendance
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}